.task-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checkbox-with-text {
        display: flex;
        gap: 8px;
    }

    .action-buttons {
        display: flex;
        align-items: center;
        gap: 14px;
    }
}

svg {
    vertical-align: middle
}