@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #7F35B2;
    --background-gradient-color: linear-gradient(215deg, #EFD8FF 6.02%, #E6E4E6 79.42%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--background-gradient-color);
    padding-top: 100px;
    overflow-x: hidden;
}

body.modal-open {
    overflow: hidden;
}

h1 {
    font-size: 32px;
    font-weight: 800;
    color: var(--primary-color);
}

p {
    font-size: 16px;
}
html, body { height: 100%; }
